* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: #4300FF;
}

.navbar {
    background-color: #00CAFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-size: 1.5rem;
}

.container {
    display: flex;
    position: relative;
    top: 1rem;
    width: 90rem;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid #00FFDE;
    background-color: #0065F8;

}

.current-weather {
    border: 3px solid #00FFDE;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 35rem;

}

.search {
    background-color: #00CAFF;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    border: 3px solid #00FFDE;
}

.search * {
    padding: 0px 5px;
}

.search input {
    font-size: 1.5rem;
    width: 32rem;
    outline: none;
    border: 0px;
    background-color: #00CAFF;
}

.search input::placeholder {
    color: black;
    opacity: 0.5;
}

.today {
    text-align: center;
    margin-top: 2rem;
    text-wrap: wrap;
}

.today-other * {
    background-color: #00CAFF;
}

.today-temp {
    font-size: 4rem;
}

.today-condition {
    font-size: 1.5rem;
}

.today-discription {
    font-size: 1.2rem;
}


.today-other {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.st {
    height: 6rem;
    width: 10rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    display: block;
    border-radius: 10px;
    border: 3px solid #00FFDE;
}

.st * {
    margin: 0.5rem;
}

.future-forecast {
    width: 45rem;
    border-radius: 1rem;

}

.future-forecast>*:not(:last-child) {
    margin-bottom: 2.5rem;
}

.hw {
    border: 3px solid #00FFDE;
    border-radius: 1rem;
    padding: 1rem;
}


.hw h3 {
    font-size: 2rem;
}

.hw hr {
    border: 1px solid #00FFDE;
}

.ahw {
    margin-top: 1rem;
    display: flex;
    overflow-x: auto;
    scrollbar-color: black;

}

.hf {
    padding: 1rem;
    margin: 0.33rem;
    font-size: 1.3rem;
    border-radius: 1rem;
    text-wrap: nowrap;
    width: auto;
    max-width: 8.8rem;
    text-align: center;
    border: 3px solid #00FFDE;
    transition: all .7s ease-in;
    background-color: #00CAFF;
}

.dfa:hover {
    max-width: 50rem;
}

.hf * {
    margin: 0.5rem;
}

.hf p {
    overflow: hidden;
}


.scroll::-webkit-scrollbar {
    height: 0.5rem;

    background: black;
    border-radius: 20rem;
}

.scroll::-webkit-scrollbar-thumb {
    display: flex;
    border-radius: 10rem;
    background-color: #00FFDE;
}

.addres {
    list-style-type: none;
    font-size: 1.2rem;
    width: 32rem;
    overflow: hidden;
    position: absolute;
    top: 6.5rem;
    left: 8rem;
    z-index: 6;
    border-radius: 10px;
    border: 1px solid white;
    background-color: rgb(0, 202, 255 / 40%);
    backdrop-filter: blur(5px);
}

.addres li {
    padding: .2rem 0rem;
    z-index: 9;
    cursor: default;
}

.addres li:hover {
    background-color: #f5f5f585
}


.aq-suns {
    display: flex;
    justify-content: space-between;
}

.aqs {
    font-size: 1.5rem;
    border: 3px solid #00FFDE;
    border-radius: 1rem;
    height: 11rem;
    width: 44%;
    padding: 1rem;

}

.aqs>*:not(:last-child) {
    margin-bottom: .5rem;
}

.aqs h3 {
    font-size: 1.5rem;
}

.aqIndex {
    height: .5rem;

    background: 
            linear-gradient(to right,
            #009966 10%,
            #fcd306 20%,
            #e97705 30%,
            #cc0033 40%,
            #660099 60%,
            #7e0023 100%);
    border-radius: 1rem;
}

.aqs hr {
    border: 1px solid #00FFDE;
}

.aqi p {
    font-size: 1.3rem;
}

.aqIndex {
    position: relative;
}

.aqIndex div {
    position: absolute;
    width: .5rem;
    height: 100%;
    border-radius: 50%;
    background: #fff;
}

.horizon {
    height: 14rem;
    width: 14rem;
    border-top: 3px solid #00FFDE;
    border-bottom: 0px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    margin: 0rem 1rem;
    position: relative;
    box-shadow: 0 -10px 10px -3px rgba(255, 255, 255, 0.4);
}

.set-rise {
    display: flex;
    width: 130%;
    justify-content: space-between;
    position: relative;
    top: 33%;
    z-index: 1;
    left: -15%;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    justify-items: center;
}


.sun {
    width: 20px;
    height: 20px;
    top: 45%;
    left: 46.25%;
    border-radius: 50%;
    position: absolute;
    background: 
            radial-gradient(circle at center,
            #fff5a1 0%,
            #ffd700 40%,
            #ffa500 70%,
            #ff8c00 100%);
    box-shadow:
        0 0 20px 10px #ffd700,
        0 0 40px 25px #ff8c00,
        0 0 60px 40px rgba(255, 140, 0, 0.5);

}

.moon {
    width: 20px;
    height: 20px;
    top: 45%;
    left: 46.25%;
    border-radius: 50%;
    position: absolute;
    background: 
        radial-gradient(circle at 30% 30%,
        #fefcea,
        #d4d4d4 70%);
    box-shadow:
        0 0 20px 5px #fefcca,
        10px -10px 40px #aaaaaa,
        inset -5px -5px 20px rgba(255, 255, 255, 0.5);
}